/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap');

/* Default Color Scheme */
:root {
  --background: #262A2C;
  --foreground: #ffffff;
}

/* Light Mode Theme */
@media (prefers-color-scheme: light) {
  :root {
    --background: #262A2C;
    --foreground: #ffffff;
  }
}

/* Global Body Styling */
body {
  font-family: "Rubik", sans-serif;
  color: var(--foreground);
  background-color: var(--background);
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Syne Font Styling */
.syne-font {
  font-family: "Syne";
  font-optical-sizing: auto;
  font-weight: 700;
}

/* Rubik Font Styling */
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
